# Django settings
SECRET_KEY=pRI1De1BYigviqXLgXUi8ToVmO3tbp1DX6depQF2dbrVMFuM9hrDqzpH_XcsXjImLm4
DEBUG=False
ALLOWED_HOSTS=your-render-app-url.onrender.com

# Database (if using PostgreSQL)
# DATABASE_URL=postgresql://user:password@host:port/database